@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Second hand</h1>
    <p class="lead">Buy used products cheap.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Advertisements</h2>
        <p>
            Browse and create advertisements. Find what you need.
        </p>
        <p><a class="btn btn-default" href="/advertisements">Get started &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Chats</h2>
        <p>Chat with other sellers to negotiate shipping and costs.</p>
        <p><a class="btn btn-default" href="/chats">Learn more &raquo;</a></p>
    </div>
</div>