@{
    ViewBag.Title = "Job Details";
}
@model JobSystem.ViewModels.Jobs.JobDetailsViewModel

@*Include more details*@

<h2>@Model.Title</h2>
<p style='white-space: pre-wrap;word-wrap: break-word;'>@Model.Description</p>