@model SecondHand.Web.Areas.Chats.Models.Chats.UserChatsViewModel

<div class="container">
    <div class="row text-center">
        <h3>Chats:</h3>
    </div>
</div>

@if (Model.Chats.Count() > 0)
{
    <div class="list-group">
        @foreach (var chat in Model.Chats)
        {
            var link = Url.Action(actionName: "ChatRoom",
                    controllerName: "Chats",
                    routeValues: new { advertisementId = chat.AdvertisementId, username = chat.AdvertisementAddedByUserName });

            if (chat.IsRead)
            {
                <a class="list-group-item" href=@link>
                    <h4 class="list-group-item-heading">@chat.AdvertisementTitle</h4>
                    <p class="list-group-item-text">No unread messages</p>
                </a>
            }
            else
            {
                <a class="list-group-item active" href=@link>
                    <h4 class="list-group-item-heading">@chat.AdvertisementTitle</h4>
                    <p class="list-group-item-text">You have unread messages</p>
                </a>
            }
        }
    </div>    
}
