<div class="container" style="padding-top: 40px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row text-center">
                <h3>Administration</h3>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <strong>Advertisements</strong>
                </div>
                <div class="col-md-1">
                    @Html.ActionLink("Manage", "Index", "AdvertisementsPanel", new { area = "Administration" }, new { @class = "btn btn-primary" })
                </div>
                <div class="col-md-1">
                    @Html.ActionLink("Create", "AddAdvertisement", "Advertisements", new { area = "" }, new { @class = "btn btn-success" })
                </div>
            </div>
            <div class="row" style="padding-top: 15px;">
                <div class="col-md-2">
                    <strong>Users</strong>
                </div>
                <div class="col-md-1">
                    @Html.ActionLink("Manage", "Index", "UsersPanel", new { area = "Administration" }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>
</div>