@{ 
    ViewBag.Title = String.Format("Profile - {0}", Model.Username);
}


@model SecondHand.Web.Models.Users.UserProfileViewModel

<div class="container">
    <div class="row text-center">
        <h2>@Model.Username`s profile:</h2>
    </div>

    <div class="row" style="padding-top: 20px;">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading text-center">User details</div>
                <div class="panel-body">
                    <p><strong>First name:</strong> @(Model.FirstName ?? "Not specified")</p>
                    <p><strong>Last name:</strong> @(Model.LastName ?? "Not specified")</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 20px;">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading text-center">User advertisements</div>
                <div class="panel-body" style="padding: 0px;">
                    @foreach (var adv in Model.Advertisements)
                    {
                        @Html.DisplayFor(_ => adv)
                    }
                </div>
            </div>
        </div>
    </div>
</div>










